.container {
  
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 100%;
  margin: 0px 20px;
  padding: 25px;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1;
}
  .glow {
    position: absolute;
    right: 0;
    top: 70%;
    width: 100vw;
    height: 300px;
    background: radial-gradient(circle, #00305D 10%, rgba(0, 0, 0, 0) 60%);
    z-index: 0;
    pointer-events: none;
    filter: blur(80px);
  }
  
  .textContainer {
    width: 100%;
    max-width: 400px;
    text-align: left;
    z-index: 10;
  }
  
  .gradientText {
    font-size: 36px;
    margin-bottom: 16px;
    background-image: linear-gradient(to right, #0090D8, #8FBAFF);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
  }
  
  .paragraph {
    width: 100%;
    max-width: 600px;
    text-align: left ;
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    font-size: 9px;
    line-height: 1.5;
    z-index: 2;
  }
  
  /* Desktop: 768px+ */
  @media (min-width: 768px) {
    .container {
      margin: 0rem 20rem;
      
      width: 50%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0px;
      padding: 0px;
    }
  
    .gradientText {

      font-size: 48px;
    }
  
    .paragraph {

      font-size: 12px;
    }
  
    .glow {
      top: 35rem;
      right: -30px;
      width: 60rem;
    }
  }
  