.contentWrapper {
  background-color: #030014;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinha todos os itens ao centro */
  align-items: center;
  gap: clamp(20px, 5vw, 60px);
 
  margin: 0 auto; /* Centraliza o conteúdo */
  width: 100%;
  max-width: 1200px; /* Ajusta a largura máxima */
  box-sizing: border-box;
  z-index: 1;
  flex-wrap: wrap;
}


.glow {
  position: absolute;
  right: 0;
  top: 90%;
  width: 80vw;
  height: 20vw;
  background: radial-gradient(circle, #00305D 10%, rgba(0, 0, 0, 0) 60%);
  z-index: 0;
  pointer-events: none;
  filter: blur(80px);
  max-width: 100vw;
}

.textContainer {

  flex: 1;
  max-width: 700px;
  min-width: 610px;
  text-align: left;
  z-index: 2;
 
}

.gradientText {
  font-size: clamp(28px, 6vw, 48px);
  margin-bottom: clamp(10px, 2vw, 20px);
  background-image: linear-gradient(to right, #0090D8, #8FBAFF);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.iconSeta {
  width: clamp(30px, 5vw, 50px);
  transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.paragraph {

  flex: 2;
  max-width: 600px;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  color: white;
  text-align: left;
  z-index: 2;
}

@media (max-width: 768px) {
  .contentWrapper{
    margin-top: -90px;
    display: flex;
    flex-direction: column;
    
    
  }
  .textContainer {
    width: 100%;
    font-weight: 400;
    max-width: 500px;
    margin: 0;
    padding: 0rem;
    text-align: left;
    
  }

  .gradientText {
    font-size: 40px;
    text-align: left;
  }

  .paragraph{
    font-size:16px;
  }

  .iconSeta {
    width: 3rem;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }
}
