/* Estilo comum para a seção */
.section {
  padding: clamp(40px, 5vw, 100px) 0;
  position: relative;
  background-color: #030014;
  color: white;
  z-index: 1;
  width: 100%; /* Garante que a seção ocupe 100% da largura */
  box-sizing: border-box;
  padding-left: 10rem;
}

.contentWrapper {
 
  display: flex;
  flex-direction: row;
  justify-content: center; /* Alinha todos os itens ao centro */
  align-items: center;
  gap: clamp(20px, 5vw, 60px);
  padding: clamp(20px, 1vw, 60px);
  margin: 0 auto; /* Centraliza o conteúdo */
  width: 100%;
  max-width: 1200px; /* Ajusta a largura máxima */
  box-sizing: border-box;
  z-index: 1;
  flex-wrap: wrap;
}

.textContainer {
 
  flex: 1;
  min-width: 150px;
  max-width: 600px; /* Define a largura máxima da seção de texto */
  text-align: left;
  z-index: 2;
  margin-left: 0px;
 
  
}

.gradientText {

  font-size: clamp(28px, 6vw, 48px);
  margin-bottom: clamp(10px, 2vw, 20px);
  background-image: linear-gradient(to right, #0090D8, #8FBAFF);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.subTitle {
  font-size: 1.5rem;
  margin-bottom: clamp(10px, 1.5vw, 20px);
  font-style: italic;
  text-align: left;
}

.ul {
  list-style: none;
  padding: 0;
font-size: 1.2rem;
  line-height: 1.8;
  text-align: left;
}

.listItem {
  display: flex;
  align-items: start;
  justify-content: left;
  gap: 10px;
  transition: transform 0.3s ease;
}

.listItem:hover {
  transform: scale(1.05);
}

.icon {
 padding-top: 0.09rem;
  width: clamp(14px, 1.2vw, 18px);
  margin-right: 8px;
  transition: transform 0.3s ease;
  
}

.icon:hover {
  transform: rotate(20deg);
}

.glow {
  position: absolute;
  right: 0;
  top: 70%;
  width: 80vw;
  height: 20vw;
  background: radial-gradient(circle, #00305D 10%, rgba(0, 0, 0, 0) 60%);
  z-index: 0;
  pointer-events: none;
  filter: blur(80px);
  max-width: 100vw;
}

.dividersvg{
  background-color: #D9D9D9;

  
}

.dividersvg img{
  background-color: #D9D9D9;
  width: 10rem;
  
}

.topicWrapper {
  margin-bottom: 1.5rem;
}

.topicTitle {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.subItemsAlwaysOpen {
  display: block;
  padding-left: 1rem;
}

.finalText {
  margin: 1.5rem 0;
 font-size: 1.2rem;
  line-height: 1.6;
  color: white;
}

.arrow {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.subItems {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.6s ease, opacity 0.5s ease;
  margin-top: 0.5rem;
  padding-left: 1.2rem;
  border-left: 2px solid #00d0ff22;
  animation: none;
}

.open {
  max-height: 800px; /* Ajuste conforme o conteúdo */
  opacity: 1;
  animation: aiGlow 1s ease-out;
}

@keyframes aiGlow {
  0% {
    box-shadow: 0 0 5px #8FBAFF;
  }
  50% {
    box-shadow: 0 0 10px #0090D8;
  }
  100% {
    box-shadow: 0 0 5px #8FBAFF;
  }
}

/* Mobile ajustes */
@media (max-width: 768px) {
  .section{
    padding: 2rem;
    margin: 0;
    z-index: 1;
    width: 100%; 
    box-sizing: border-box; 
  }
  .contentWrapper {

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
  }

  .gradientText {
    font-size: 40px;
    text-align: left;
  }

  .subTitle {
    font-size: 22px;
    text-align: left;
  }

  .ul {
    padding: 0;
    
   
  }

  .listItem {
   font-size:16px;
   

   
  }

  .textContainer {
    width: 100%;
    max-width: 500px;
    margin: 0;
    padding: 1rem;
    text-align: left;
  }

  .finalText {
    font-size:16px;
  }

  .icon {
 
  width: clamp(14px, 1.2vw, 18px);
  margin-right: 8px;
  transition: transform 0.3s ease;
   padding-top: 0.4rem;
}

 
}
