.wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  justify-content: center;
  display: flex;
  

  
}

.header {
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0 0 16px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 4rem;

 
}

.innerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: 10rem;
  z-index: 2;
}

.hamburger {
  font-size: 24px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 20;
}

.navDesktop {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80vw;
  max-width: 250px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  z-index: 15;
  box-sizing: border-box;
  overflow-y: auto;
  transform: translateX(-100%); /* Menu começa fora da tela */
  transition: transform 0.3s ease-in-out;
  
}

.drawer.open {
  transform: translateX(0); /* Menu visível */
}

.navMobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  font-size: 12px;
  color: white;
  text-decoration: none;
}

/* Mobile View */
@media (max-width: 768px) {
  .navDesktop {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .wrapper{
   
 
  }
}
