@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Impede o overflow horizontal */
  overflow-y: auto; /* Permite o overflow vertical se necessário */
  box-sizing: border-box;
  background: rgba(3, 0, 20, 1);
  color: white;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: white;
}

.App {
  text-align: center;
  min-height: 100vh;
}

section {
  padding: 60px 20px;
  width: 100%; /* Garante que a largura de cada seção não ultrapasse a largura do container */
  box-sizing: border-box; /* Inclui o padding dentro da largura total */
}




.header {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0 0 16px 16px;
  color: white;
  overflow: hidden;
  width: 100%;
}


.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.App {
  text-align: center;
  min-height: 100vh;
  max-width: 100%; /* Garante que o conteúdo não ultrapasse a largura da tela */
  overflow-x: hidden; /* Impede o overflow horizontal */
  overflow-y: auto; /* Permite o overflow vertical, se necessário */
  margin: 0 auto; /* Centraliza o conteúdo na tela */
  padding: 0 0px; /* Padding para dar algum espaçamento nas bordas */
}

.container {
  max-width: 1200px; /* Limita a largura do conteúdo */
  width: 100%;
  margin: 0 auto; /* Centraliza o container */
  padding: 0 20px; /* Padding lateral */
}


