@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html{
  background: rgba(3, 0, 20, 1);
}
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-optical-sizing: auto;
  color: white;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.App {
  text-align: center;
  min-height: 100vh;
}

section {
  padding: 60px 20px;
}

ul {
  padding-left: 20px;
}

.card {
  
  background: rgb(255, 255, 255);
  padding: 20px;
  width: 250px;
  text-align: left;
}

.header {
 
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0 0 16px 16px;
  color: white;
  overflow: hidden;
}

/* Eclipse overlay effect */


.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
  font-size: 14px;
}
